* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    max-width: 100%;
}

.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: center; 
    gap: 1rem;
}

.logo {
    width: 4rem;
}

.menu-link{
    color: black;
    text-decoration: none;
    
}

.titulo{
    text-align: center;
    text-transform: uppercase;
}

.texto{
    text-align: center;
    padding: 4rem 4rem 4rem;
}



@media (max-width: 860px ) and (min-width: 390px){
    .cuerpo{
        justify-content: center;
    }
      
}