.footer{
    display: flex;
    padding: 3rem;
    gap: 1rem;
    background-color: black;
    color: white;


     a{
        color: white;
    }
    
    .footer-1{
        flex: 3;
    }
    
    .footer-2, .footer-3{
        flex: 1;
    }
}
